<section class="dashboard">
  <div class="row">
  <div class="ten columns offset-by-one">
    <div class="panel clearfix">
      <div class="seven columns">
        <h4>Howdy, <%= @user.username.humanize %> </h4>
        <p>You currently have <%= pluralize(@user.resumes.count, "resume") %> active resumes.</p>
      </div>
      
      <%= link_to "Create a new resume", new_user_resume_path(current_user), class: "button big radius nice right" %>
    </div><!--panel-->
   </div><!-- ten columns-->
   </div><!--row-->
   
    <% if @resumes.any? %>
      <div class="row">
      <table class="ten columns centered">
        <% @resumes.each do |resume| %>
          <tr>
            <td class="first">
              <h3><%= resume.title.blank? ? "Resume title" : resume.title %></h3>
              <strong>Unique URL: </strong><%= link_to "http://resumonk.com/r/#{resume.short_link}", "http://resumonk.com/r/#{resume.short_link}", target: "_blank" %>
             
            </td>
            
            <td><%= link_to 'View', [current_user, resume], class: "button small white radius" %></td>
            <td><%= link_to "Save PDF", user_resume_path(current_user, resume, format: "pdf"), class: "button small green radius"  %></td>
            
             <% if pro %>
             <td><%= link_to 'Analytics', resume_info_path(current_user, resume), class: "button radius white small" %></td>
              <% end %>
              
              
            <td><%= link_to 'Edit', edit_user_resume_path(current_user, resume), class: "button small blue radius" %></td>
             <td><%= link_to 'Clone', clone_resume_path(current_user, resume), class: "button small blue radius" %></td>
             
            <td><%= link_to 'Destroy', [current_user, resume], confirm: 'Are you sure?', method: :delete, class: "button radius red small" %></td>
            
            
          </tr>
        <% end %>
      </table>
      </div><!--row-->
    <% else %>
      <div class="row">
      <table class="ten columns centered">
          <tr>
            <td>
              <h3 style="text-align:center;">You haven't created any resumes yet. Go ahead, <%= link_to "get started!", new_user_resume_path(current_user) %></h3>
            </td>
          </tr>
      </table>
      </div>
    <% end %>
    
    
    
  <% unless current_user.pro %>
    
    <%= render "shared/pro_signup_box" %>
  <% end %>
   
 
</section><!--dashboard-->

