 <% [ 'elegant', 'simplimo', 'sleek', 'prestige', 'classica'].each_with_index do |theme, index| %>
  
    <div class='box <%= "#{theme}" %>'>
      <%= image_tag "#{theme}_small.jpg" %>
      <%= f.radio_button :layout, theme %>
      <div class="row label_wrapper">
        <%= f.label :layout, theme.humanize, class:"four columns" %>
        <div class="right">
          <a href="#" title="See this template in action" class="preview small button radius" data-template='<%= "#{theme}" %>'>Preview</a>
          <a href="#" title="Use this template" class="use small green button radius">Use this template</a>
        </div>
      </div><!--row-->
    </div><!--box-->
    
    
    
    <div class='reveal-modal <%= "#{theme}_modal" %>'>
      <h3 class="three columns"><%= theme.humanize %></h3>
      <%= image_tag "#{theme}.jpg" %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
   <% end %>


   <div class="box go_pro_box">
    <div class="row">
     <h4>Looking for more templates? <br />Go PRO for just $9.99</h4>
     <p>Our PRO version gives you access to our continuouly updated collection of modern and beautifully designed resume templates. You also get a whole lot of other features like analytics and LinkedIn Import. Go ahead, get started!</p>
     <div class="form_wrap">
      <a href="<%= pro_path %>" class="button">Just $9.99<span>Find out more &gt;</span></a>
    </div>
      </div>
   
   
</div>
