
   <div class="fields ten columns right">
     
     <div class="field row institute">
       <%= f.label :position, "Position", class: "position_label" %><small class="ordering">Ascending order (smaller number shown first)</small>
       <%= f.number_field :position, class: "input-text", placeholder: "1" %>
     </div>
     
     <div class="field row institute">
         <%= f.label :designation, "Designation*" %>
         <%= f.text_field :designation, class: "input-text eleven columns left required", placeholder: "Assistant Manager" , value: p.title %>
     </div>

     <div class="field row institute">
          <%= f.label :company_name, "Name of the company*" %>
          <%= f.text_field :company_name, class: "input-text eleven columns left required", placeholder: "ABC Corp.", value:p.company.name  %>
     </div>

     <div class="field row institute">
          <%= f.label :job_description, "Job description*" %>
          <%= f.text_area :job_description, class: "input-text small eleven columns left required", style: "margin-left: 0;padding: 8px 15px", value: p.summary %> 
      </div> 


     <div class="field row">
      <div class="six columns timespan">
       <%= f.label :start_date, "Date of start of employment" %>
       <%= f.text_field :start_date, class: "input-text", placeholder: "May, 2009", value: "#{Date::MONTHNAMES[p.start_month + 1]} #{p.start_year}" %>
       <span class="to">to</span>
      </div>
       <div class="six columns">
       <%= f.label :end_date, "Date of completion of employment" %>
       <% if p.end_year != 0 %>
          <% val = "#{Date::MONTHNAMES[p.end_month + 1]} #{p.end_year}" %>
       <% else %>
          <% val = "Present" %>
       <% end %>
       <%= f.text_field :end_date, class: "input-text", placeholder: "June, 2013", value: val %>
      </div><!--columns-->
     </div><!--row-->


     <div class="field row">
        <%= link_to_remove_fields("remove", f) %>
     </div>
   </div><!--fields-->

