<div class="field row">
   <div class="six columns">
    <%= f.label :firstname, "Enter your first name" %>  
    <%= f.text_field :firstname, class: "large input-text", placeholder: "Jonathan", value:p.first_name %>
   </div><!--six columns-->
   
   <div class="five columns offset-by-one">
     <%= f.label :lastname, "Enter your last name" %>
     <%= f.text_field :lastname, class: "medium input-text", placeholder: "Doe", value: p.last_name %>
   </div><!--six columns-->
 </div><!--row-->

<div class="field row">     
  <div class="six columns">  
    <%= f.label :address %>        
    <%= f.text_area :address, class: "large small", placeholder: "1600 Amphitheatre Parkway, Mountain View, California, 94043", value: @location.location.name %>
  </div>
  
  <div class="five columns right offset-by-one">
    <div class="row first">
      <%= f.label :phone %>  
      <%= f.text_field :phone, class: "input-text medium", placeholder: "413-123-4567" %> 
    </div>
    
    <div class="row">
       <%= f.label :website %>
      <%= f.text_field :website, class: "input-text medium", placeholder: "http://myportfolio.com/", value: @url.member_url_resources.first.url %>
     
    </div>
  </div><!--six columns-->
</div><!--row-->


 <div class="field row objective">
   <%= f.label :objective, "Professional Profile", class: "one column subheading" %>
   <%= f.text_area :objective, class: "nine columns right small", placeholder: "Example Professional Profile: Experienced solution sales professional, with a proven track record for turning around sales for aging products, cutting sales cycle lengths, and growing revenues by an average 35 percent", value: @summary.summary %>
 </div>