<div class="fields ten columns right">
  <div class="field row institute">
    <%= f.label :position, "Position", class: "position_label" %><small class="ordering">Ascending order (smaller number shown first)</small>
    <%= f.number_field :position, class: "input-text", placeholder: "1" %>
  </div>

  
  <div class="row institute field">
     <%= f.label :skill, "Skill or Expertise" %>
     <%= f.text_field :skill, class: "input-text eleven columns left required", value: "Skills" %>
   </div>

   <div class="row institute field">
     <%= f.label :description %>
     <%= f.text_area :description, class: "input-text eleven columns left small", style: "margin-left: 0;padding: 8px 15px", value: p.join(", ") %>
   </div>
   
   <div class="field row">
       <%= link_to_remove_fields("remove", f) %>
    </div>

</div><!--fields-->
