<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "simplimo_pdf" %>
    <title>Resumonk | <%= "#{@resume.firstname}'s resume" %></title>
    <%= wicked_pdf_stylesheet_link_tag "simplimo_pdf", "show_page" %>
    <%= wicked_pdf_javascript_include_tag "application" %>

    <style>

      <% unless @resume.color.blank? %>
        h1, h2 {
          color: <%= @resume.color %>;
        }

      <% end %>
      

    </style>

    <script>
      $(document).ready(function() {
       <% unless @resume.color.blank? %>
         var lighter_color = $.xcolor.opacity("<%= @resume.color %>", 'white', 0.5)
         $("dt").css("color", lighter_color)
         $("p strong").css("color", $.xcolor.opacity("<%= @resume.color %>", 'white', 0.2))
       <% end %>
      });
     </script>
     
  </head>
  
  <body>
    <div id="page-wrap">
      <div id="contact-info" class="vcard clearfix">
      
          <!-- Microformats! -->
      
          <h1 class="fn"><%= "#{@resume.firstname} #{@resume.lastname}" %></h1>
      
          <p class="info">
            <% unless @resume.phone.blank? %>
              Cell: <span class="tel"><%= @resume.phone %></span><br />
            <% end %>
              Address: <span class="add"><%= @resume.address %></span><br />
              Email: <a class="email" href='mailto:<%= "#{email(@resume)}" %>'><%= email(@resume) %></a><br />
            <% unless @resume.website.blank? %>
              Website: <%= link_to @resume.website, @resume.website %></a>
            <% end %>
          </p>
          
      </div>
      
      <% unless @resume.objective.blank? %>
        <div id="objective">
          <p>
             <%= @resume.objective.html_safe %>
          </p>
        </div>
      <% end %>
      <div class="clear"></div>
      

      <dl>
        
        <% @resume.layout_order.split(" ").each do |item| %>
            <% if item == "educations" %>
            <% if @resume.educations.any? %>
              <dd class="clear"></dd>
              <dt><%= @resume.educations_header.blank? ? "Education" : @resume.educations_header %></dt>

              <% @resume.educations.each do |education| %>
               <dd class="full">
                    <h2><%= education.institute_name %>
                        <span class="timespan">
                           <% unless education.start_date.blank? %>
                              <%= education.start_date %>
                            <% end %>

                            <% unless education.end_date.blank? %>
                              to <%= education.end_date %>
                            <% end %>
                        </span>
                    </h2>

                    <p><strong><%= education.degree %>

                      </strong><br />
                    <% unless education.description.blank? %>
                      <div class="description">
                        <p><%= education.description.html_safe %></p>
                      </div>
                    <% end %>
                  </p>
                </dd>
              <% end %>
              <% end %>

             <% elsif item == "experiences" %>
             <% if @resume.experiences.any? %>
                <dd class="clear" style=" page-break-before:auto"></dd>
                      <dd class="clear"></dd>

                      <dt><%= @resume.experiences_header.blank? ? "Experience" : @resume.experiences_header %></dt>

                      <% @resume.experiences.each do |experience| %>
                       <dd class="full">
                            <h2><%= experience.designation %>
                                <span class="timespan">
                                  <% unless experience.start_date.blank? %>
                                      <%= experience.start_date %>
                                    <% end %>

                                    <% unless experience.end_date.blank? %>
                                      to <%= experience.end_date %>
                                    <% end %>
                                  
                                </span>
                            </h2>

                            <p><strong><%= experience.company_name %></strong><br />
                            <p class="description"><%= experience.job_description.html_safe %></p>
                        </dd>
                      <% end %>
                  <% end %>
                      
            <% elsif item == "skills" %>
              <% if @resume.skills.any? %>
                <dd class="clear" style="margin-bottom: 10px; page-break-before:auto"></dd>

                  <% if @resume.skills.any? %>
                    <dt><%= @resume.skills_header.blank? ? "Skills" : @resume.skills_header %></dt>
                    <% @resume.skills.each do |skill| %>
                      <dd class="full">
                        <h2><%= skill.skill %></h2>
                        <p><%= skill.description.html_safe %></p>
                      </dd>
                      <% end %>
                  <% end %>
              <% end %>
                  
            <% elsif item == "projects" %>
              <% if @resume.projects.any? %>
                 <dd class="clear" style=" page-break-before:auto"></dd>
                        <dd class="clear"></dd>

                        <dt><%= @resume.projects_header.blank? ? "Projects" : @resume.projects_header %></dt>

                        <% @resume.projects.each do |project| %>
                         <dd class="full">
                              <h2><%= project.project_title %>
                              <span class="timespan">
                                <% unless project.start_date.blank? %>
                                    <%= project.start_date %>
                                  <% end %>

                                  <% unless project.end_date.blank? %>
                                    to <%= project.end_date %>
                                  <% end %>
                                
                              </span>
                              </h2>
                              
                                <% unless project.url.blank? %>
                                  <p><strong><%= link_to project.url %></strong><br />
                                <% end %>
                                
                                <% unless project.description.blank? %>
                                  
                                    <p class="description"><%= project.description.html_safe %></p>
                                
                                <% end %>
                          </dd>
                        <% end %>
                  <% end %>
                        
                <% elsif item == "publications" %>
                  <% if @resume.publications.any? %>
                   <dd class="clear" style=" page-break-before:auto"></dd>
                          <dd class="clear"></dd>

                          <dt><%= @resume.publications_header.blank? ? "Publications" : @resume.publications_header %></dt>

                          <% @resume.publications.each do |publication| %>
                           <dd class="full">
                                <h2><%= publication.title %>
                                <span class="timespan"><%= publication.date %></span>
                                </h2>

                                <% unless publication.publisher.blank? %>
                                  <p><strong><%= publication.publisher %></strong><br />
                                <% end %>
                                
                                <p class="description"><%= publication.description.html_safe %></p>
                            </dd>
                          <% end %>
                      <% end %>
                          
                          
                <% elsif item == "volunteering" %>
                  <% if @resume.volunteerings.any? %>
                   <dd class="clear" style=" page-break-before:auto"></dd>
                          <dd class="clear"></dd>

                          <dt><%= @resume.volunteerings_header.blank? ? "Volunteering" : @resume.volunteerings_header %></dt>

                          <% @resume.volunteerings.each do |volunteering| %>
                           <dd class="full">
                                <h2><%= volunteering.organization %>
                                <span class="timespan">
                                  <% unless volunteering.start_date.blank? %>
                                      <%= volunteering.start_date %>
                                     <% end %>

                                     <% unless volunteering.end_date.blank? %>
                                       to <%= volunteering.end_date %>
                                     <% end %>
                                  
                                </span>
                                </h2>
                                
                                <% unless volunteering.cause.blank? %>
                                  <p>Cause: <strong><%= volunteering.cause %></strong><br />
                                <% end %>
                                
                                <% unless volunteering.description.blank? %>
                                   <p class="description"><%= volunteering.description.html_safe %></p>
                                 <% end %>
                                 
                                
                            </dd>
                          <% end %>
                        <% end %>
              <% end %>
            <% end %>
      </dl>
      <div class="clear"></div>
    </div><!--page-wrap-->
  </body>
</html>


