<%= tinymce_assets %>

<section class="row resume_form">
  <div class="ten columns offset-by-one">
    <% if pro && !@profile %>
      <%= render "import_link" %>
    <% elsif !pro %>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal_form" style="display: none;">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="custom" value='<%= "#{current_user.id}" %>' >
    <input type="hidden" name="hosted_button_id" value="9HYHEU8L8YFU8">
    <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>
    
      <span style="float:right">Looking to import your LinkedIn Profile? <%= link_to "Go Pro! ", "#", id: "go_pro_link" %><small>(just $9.99)</small></span>
    <% end %>
    <div class="row">
    <%= form_for([current_user, @resume], html: { class: "nice twelve columns resume_form"}) do |f| %>
    <div class="resume_wrapper">
       <header>
         <%= f.text_field :title, class: "four columns centered resume_title", value: @resume.title || "Resume Title" %>
       </header>
       
       <% if @resume.errors.any? %>
         <div id="error_explanation">
            <h3><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h3>

            <ul>
            <% @resume.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
         </div>
       <% end %>
       
       <div class="row">
       <fieldset class="eleven columns centered">
         
         <legend>Personal Details</legend>
         <% if @linkedin_user.nil? %>
           <%= render "personal_details", f: f %>
         <% else %>
           <%= render "resumes/linkedin/personal_details", {f: f, p: @linkedin_user } %>
         <% end %>
         
       </fieldset><!--personal_details-->
       </div>
        
        <div class="row">
           <fieldset class="eleven columns centered">
              <div class="block row">
               <p class="subheading two columns">Education Details</p>
                 <% if @profile.nil? %>
                     <%= f.fields_for :educations do |education_form| %>
                       <%= render "education", :f => education_form %>  
                     <% end %>
                  <% elsif @profile.educations.any? %>
                  
                    <% @profile.educations.each do |education| %>
                     <%= f.fields_for :educations, do |education_form| %>
                        <%= render "resumes/linkedin/educations", {:f => education_form, :p => education} %>
                      <% end %>
                    <% end %>
                  <% end %>
               
               <%= link_to_add_fields("Add a school", f, :educations) %>
             </div><!--block-->
              
                 
          </fieldset>
          </div>
          
          
          <div class="row">
          <fieldset class="eleven columns centered">
              <div class="block row">
               <p class="subheading two columns">Employment details</p>
             <% if @profile.nil? %>
                <%= f.fields_for :experiences do |experience_form| %>
                  <%= render "experience", :f => experience_form %>  
                <% end %>
             <% elsif @profile.positions.any? %>
               <% @profile.positions.each do |position| %>
                <%= f.fields_for :experiences, do |experience_form| %>
                   <%= render "resumes/linkedin/experiences", {:f => experience_form, :p => position} %>
                 <% end %>
               <% end %>
             <% end %>
          
          
          <%= link_to_add_fields("Add a position", f, :experiences) %>
         </div><!--block-->
          
             
      </fieldset>
      </div>
      
      
      <div class="row">  
       <fieldset class="eleven columns centered">
         <legend>Additional Information</legend>
         <div class="block row">
          <% if @profile.nil? or @profile.skills.empty? %>
             <%= f.fields_for :skills do |skill_form| %>
               <%= render "skill", :f => skill_form %>  
             <% end %>
          <% else %>
          
            <% skills = @profile.skills.collect { |skill| skill.name } %>
             <%= f.fields_for :skills, do |skill_form| %>
                <%= render "resumes/linkedin/skills", {:f => skill_form, :p => skills} %>
              <% end %>
          <% end %>
          
        <%= link_to_add_fields("Add a skill or expertise", f, :skills) %>
        </div><!--block-->
      </fieldset>
      </div>
      
        <div class="row actions">
          <div class="four columns centered">
            <%= f.submit "Save and Continue", class:"button large submit radius  green" %>
          </div>
        </div>
      <% end %>
      </div><!--row-->

  </div><!--ten columns-->
</section><!--resume_form-->


<script>
  $("#go_pro_link").click(function()  {
    $("#paypal_form").find("input[name='submit']").trigger("click")
  })
  
  function init_tiny_mce()  {
    tinyMCE.init({
        mode: 'textareas',
        editor_deselector : "mceNoEditor",
        theme: 'simple',
    });
  }
  
  init_tiny_mce();
  
  $(".add_fields").live("click", function() {
    init_tiny_mce();
  }); 
    
  
</script>   


