<%= tinymce_assets %>

<section class="row resume_form">
  <div class="ten columns offset-by-one">
    <% if pro && !@profile %>
      <%= render "import_link" %>
    <% elsif !pro %>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="custom" value='<%= "#{current_user.id}" %>' >
    <input type="hidden" name="hosted_button_id" value="Q8CCWF6MDHZVE">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    
      <span style="float:right">Looking to import your LinkedIn Profile? <%= link_to "Go Pro! ", "#", id: "go_pro_link" %><small>(just $9.99)</small></span>
    <% end %>
    <div class="row">
    <%= form_for([current_user, @resume], html: { class: "nice twelve columns resume_form"}) do |f| %>
    <div class="resume_wrapper">
       <header>
         <%= f.text_field :title, class: "four columns centered resume_title", value: @resume.title || "Resume Title" %>
       </header>
       
       <% if @resume.errors.any? %>
         <div id="error_explanation">
            <h3><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h3>

            <ul>
            <% @resume.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
         </div>
       <% end %>
       
       <div class="row">
       <fieldset class="eleven columns centered">
         
         <legend>Personal Details</legend>
         <% if @linkedin_user.nil? %>
           <%= render "personal_details", f: f %>
         <% else %>
           <%= render "resumes/linkedin/personal_details", {f: f, p: @linkedin_user } %>
         <% end %>
         
       </fieldset><!--personal_details-->
       </div>
        
        <div class="row">
           <fieldset class="eleven columns centered">
              <a href="#" title="Minimize Education details" class="minimize hide">Minimize</a>
              <h3 class="hidden_field_placeholder" style="display: none">Education details...</h3>
              <div class="block row">
                
               <p class="subheading two columns">Education Details</p>
                 <% if @profile.nil? %>
                     <%= f.fields_for :educations do |education_form| %>
                       <%= render "education", :f => education_form %>  
                     <% end %>
                  <% elsif @profile.educations.any? %>
                  
                    <% @profile.educations.each do |education| %>
                     <%= f.fields_for :educations, do |education_form| %>
                        <%= render "resumes/linkedin/educations", {:f => education_form, :p => education} %>
                      <% end %>
                    <% end %>
                  <% end %>
               
               <%= link_to_add_fields("Add a school", f, :educations) %>
             </div><!--block-->
              
                 
          </fieldset>
          </div>
          
          
          <div class="row">
          <fieldset class="eleven columns centered">
            <a href="#" title="Minimize Employment details" class="minimize hide">Minimize</a>
            <h3 class="hidden_field_placeholder" style="display: none">Employment details...</h3>
              <div class="block row">
                
               <p class="subheading two columns">Employment details</p>
             <% if @profile.nil? %>
              <% i = 0 %>
                <%= f.fields_for :experiences do |experience_form| %>
                  
                  <%= render "experience", {:f => experience_form } %>  
                <% end %>
             <% elsif @profile.positions.any? %>
               <% @profile.positions.each do |position| %>
                <%= f.fields_for :experiences, do |experience_form| %>
                   <%= render "resumes/linkedin/experiences", {:f => experience_form, :p => position} %>
                 <% end %>
               <% end %>
             <% end %>
          
          
          <%= link_to_add_fields("Add a position", f, :experiences) %>
         </div><!--block-->
          
             
      </fieldset>
      </div>
      
      
      <div class="row">  
       <fieldset class="eleven columns centered">
         <a href="#" title="Minimize Additional info" class="minimize hide">Minimize</a>
         <h3 class="hidden_field_placeholder" style="display: none">Additional Information...</h3>
         
         <div class="block row">
           <p class="subheading two columns">Additional Information</p>
          <% if @profile.nil? or @profile.skills.empty? %>
             <%= f.fields_for :skills do |skill_form| %>
               <%= render "skill", :f => skill_form %>  
             <% end %>
          <% else %>
          
            <% skills = @profile.skills.collect { |skill| skill.name } %>
             <%= f.fields_for :skills, do |skill_form| %>
                <%= render "resumes/linkedin/skills", {:f => skill_form, :p => skills} %>
              <% end %>
          <% end %>
          
        <%= link_to_add_fields("Add a skill or expertise", f, :skills) %>
        </div><!--block-->
      </fieldset>
      </div>
      
      
      <!--projects-->
      <div class="row projects secondary_block" data-role="projects">
       <fieldset class="eleven columns centered">
         <a href="#" title="Minimize Additional info" class="minimize hide">Minimize</a>
          <h3 class="hidden_field_placeholder" style="display: none">Projects...</h3>
          
         
         <div class="block row">
           <p class="subheading two columns">Projects</p>
             <%= f.fields_for :projects do |project_form| %>
               <%= render "project", :f => project_form %>  
             <% end %>
        <%= link_to_add_fields("Add a project", f, :projects) %>
        </div><!--block-->
      </fieldset>
      </div>
      
       <!--publications-->
        <div class="row publications secondary_block" data-role="publications">  
         <fieldset class="eleven columns centered">
           <a href="#" title="Minimize Additional info" class="minimize hide">Minimize</a>
            <h3 class="hidden_field_placeholder" style="display: none">Publications...</h3>
            
            
           
           <div class="block row">
             <p class="subheading two columns">Publications</p>
               <%= f.fields_for :publications do |publication_form| %>
                 <%= render "publication", :f => publication_form %>  
               <% end %>
          <%= link_to_add_fields("Add a publication", f, :publications) %>
          </div><!--block-->
        </fieldset>
        </div>
        
        <!--volunteering-->
          <div class="row volunteering secondary_block" data-role="volunteering">  
           <fieldset class="eleven columns centered">
             <a href="#" title="Minimize Additional info" class="minimize hide">Minimize</a>
              <h3 class="hidden_field_placeholder" style="display: none">Volunteering positions...</h3>
              
             
             <div class="block row">
               <p class="subheading two columns">Volunteering</p>
                 <%= f.fields_for :volunteerings do |volunteering_form| %>
                   <%= render "volunteering", :f => volunteering_form %>  
                 <% end %>
            <%= link_to_add_fields("Add a volunteering position", f, :volunteerings) %>
            </div><!--block-->
          </fieldset>
          </div>
          
        <!--choose_fields_to_add-->
        <div class="row choose_additional_fields">  
         <ul class="twelve columns centered">
           <h5>Add more sections</h5>
           <li class="three columns"><a href="#" title="projects" class="active_link">Add a Project</a></li>
           <li class="four columns"><a href="#" title="publications" class="active_link">Add a Publication</a></li>
           <li class="four columns"><a href="#" title="volunteering" class="active_link">Volunteering position</a></li>
        </fieldset>
        </div>
        
      
      <% if pro %>
        <div class="row">
             <fieldset class="eleven columns centered" id="custom_slug">
               <legend>Enter a custom slug for your resume</legend>
              <h3>http://www.resumonk.com/r/<%= f.text_field :short_link, class: "slug_field", placeholder:"your-custom-name" %></h3>
            </fieldset>
        </div>
      <% end %>

        <div class="row actions">
          <div class="four columns centered">
            <%= f.submit "Save and Continue", class:"button large submit radius  green" %>
          </div>
        </div>
      <% end %>
      </div><!--row-->

  </div><!--ten columns-->
</section><!--resume_form-->


<script>
  $("#go_pro_link").click(function()  {
    $("#paypal_form").find("input[name='submit']").trigger("click")
  })
  
  function init_tiny_mce()  {
    tinyMCE.init({
        mode: 'textareas',
        editor_deselector : "mceNoEditor",
        theme : "advanced",
            theme_advanced_buttons1 : "mybutton,bold,italic,underline,separator,strikethrough,bullist,numlist,undo,redo,link,unlink,fontsizeselect,fontselect",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
        
        setup : function(ed) {
              ed.onKeyUp.add(function(ed, e) {
                $(tinyMCE.activeEditor.getElement()).html(tinyMCE.activeEditor.getContent())
                console.log($(tinyMCE.activeEditor.getElement()).html())
              });
            }
    });
  }
  
  init_tiny_mce();
  
  $(".add_fields").live("click", function() {
    init_tiny_mce();
  }); 
  
  
  $(function(){
    
    $(".secondary_block").each(function(){
      if( $(this).find("input:first").val() === "") {
        $(this).hide();
      }
    });
            
  
            
    $(".choose_additional_fields").find("a.active_link").click(function() {
      var section = $(this).attr("title");
      if( !($("." + section).is(":visible")) )  {
           $("." + section).slideDown("1000").find("table").css("width", "97%")
      }
      
      $(this).removeClass("active_link").addClass("inactive_link");
      return false;
   })
    
  
  $(".hide").live("click", function(){
      
       $(this).parent().find(".row").slideUp("1000")
       $(this).parent().find("h3.hidden_field_placeholder").slideDown("1000")
       $(this).text("Maximize").removeClass("hide").addClass("show")
       return false
  })

   
   $(".show").live("click", function(){
       $(this).parent().find("h3.hidden_field_placeholder").slideUp("1000")
       $(this).parent().find(".row").slideDown("1000")
       $(this).text("Minimize").removeClass("show").addClass("hide")
       return false
       
     })

   $(".choose_additional_fields").find("a.active_link").each(function() {
     if($("." + $(this).attr("title")).is(":visible"))  {
       $(this).removeClass("active_link").addClass("inactive_link")
     }
   })
  
  
  });

</script>   


