<div class="fields ten columns right">
  
  <div class="field row institute">
      <%= f.label :organization %>
      <%= f.text_field :organization, class: "input-text eleven columns left required", placeholder: "Name of the organization your are/were associated with." %>
  </div>
  
  <div class="field row institute">
       <%= f.label :cause %>
       <%= f.text_field :cause, class: "input-text eleven columns left", placeholder: "Poverty / Animal welfare / Social Services / Education / Environment" %>
   </div>
   
  <div class="field row">
    <div class="six columns timespan">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, class: "input-text", placeholder: "May, 2009" %>
      <span class="to">to</span>
     </div>
    <div class="six columns">
      <%= f.label :end_date, "Date of completion" %>
      <%= f.text_field :end_date, class: "input-text", placeholder: "June, 2013" %>
    </div><!--columns-->
  
  </div>
   
   <div class="row institute field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "input-text eleven columns left small", style: "margin-left: 0;padding: 8px 15px" %>
   </div>
      

  <div class="field row">
     <%= link_to_remove_fields("remove", f) %>
  </div>
</div><!--fields-->
