<section class="row templates">
  <div class="ten columns offset-by-one">
    <%= form_for(:resume, url:choose_template_path, method: :put, html: { id: "choose_template" }) do |f| %>
    
    <% unless pro %>
      <%= render "shared/free_templates" , f: f  %>
    <% else %>
      <%= render "shared/all_templates" , f: f  %>
    <% end %>
    
      <div class="row actions">
         <div class="four columns centered">
           <%= f.submit "Save and Continue", class:"button large submit radius  green" %>
         </div>
      </div>

     <% end %>
    
  </div><!--ten columns-->
</section><!--templates-->


<script>
  $(function()  {
    if('<%= @resume.layout %>') {
      var layout = '<%= @resume.layout %>';
      $("." + layout).addClass("active")
    }
  });
</script>
