<!--
  The woods are lovely, dark, and deep,
  But I have promises to keep,
  And miles to go before I sleep,
  And miles to go before I sleep.
  ~ Robert Frost
-->

<!DOCTYPE html>
<html>
<head>
  <title>Resumonk - Online Resume Builder - Create a beautiful and professional Resume in minutes</title>
  <meta name="author" content="Bharani M" />
	<meta name="keywords" content="Resume, CV, resume builder, online resume generator, creative resume, online CV builder, professional resume, beautiful resume designs, online resume builder, create beautiful resumes online, desiger resumes, simple resume online, PDF resume">
	<meta name="description" content="Resumonk is an online resume builder that saves you money and time by helping you create professional and beautiful resumes. Resumonk handles the job of formatting and converting your resume into pdf format, thereby letting you focus on writing quality content.">
	<meta name="msvalidate.01" content="E7E088CCF389799CDEEDE1F0441C03D5" />
	<meta name="google-site-verification" content="n5VSmHhVxpabxxlVL8RftbLzy9WvtmLuqtd1l0Uv9Sc" />
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.png" %>
  <%= csrf_meta_tags %>

   	
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31001901-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="loading" style="display: none">Loading...</div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  
  <div id="header_border"></div>
  <ul id="social_menu" class="clearfix hide-on-mobiles">
    <li><strong>Spread the word!</strong></li>
    <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.resumonk.com" data-via="resumonk" data-hashtags="resume">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
    <li><div class="fb-like" data-href="http://www.resumonk.com" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div></li>
    <li><script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/Share" data-counter="right"></script></li>
    <li><div class="g-plusone" data-size="small" data-annotation="inline" data-width="120" data-href="http://www.resumonk.com"></div></li>
    
    
  </ul><!--social_menu-->
  
  <!-- resume notifications-->
  <div class="saved-notification" style="display:none">
  	Data saved successfully.
  </div>
  
  
  <header class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
      <h1 class="four columns" id="logo"><%= link_to "Resumonk", root_path %></h1>
    
      <nav class="eight columns">
        <div class="row">
          <% if signed_in? %>
            <ul class="top_nav right">
              <li><%= link_to "Your Resumes", current_user, class: "main" %></li>
              <li><%= link_to "Sign out", logout_path, class: "main" %></li>    
            </ul><!-- top_nav-->
          <% else %>
            <ul class="single right">
              <span class="completely_free">Go ahead, it completely free!</span>
              <li class="single_link login"><%= link_to "Login", login_path %></li> 
              <li class="single_link signup"><%= link_to "Sign Up", signup_path %></li>            
            </ul>
          <% end %>
        </div><!--row-->
        
        
      </nav>
      </div><!--ten columns-->
    </div><!-- row-->
  </header><!-- container-->
  
  <section class="container body_content">
    <!-- alerts -->
    <% flash.each do |key, value| %>
      <div class="row">
        <div id="alert" class=" eight columns centered alert-box <%= key %>"><%= value %></div>
      </div><!--row-->
    <% end %>
    
    <%= yield %>
  </section><!--container-->
  
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="ten columns offset-by-one">
          <p class="copyright four columns">&copy; <span title="Resumonk - Online resume builder">Resumonk</span>. All Rights Reserved.</p>
          <ul class="sitemap right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Conditions", toc_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Resume Templates", resume_templates_path %></li>
            <li class="footer_pro_link"><%= link_to "Go PRO!", pro_path %></li>
          </ul>
        </div><!--ten columns-->
       </div><!--row-->
      </div><!-- container-->
      </body>
      
  </footer>
</body>
</html>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


