<!--
  The woods are lovely, dark, and deep,
  But I have promises to keep,
  And miles to go before I sleep,
  And miles to go before I sleep.
  ~ Robert Frost
-->

<!DOCTYPE html>
<html>
<head>
  <title><%= @resume.user.username.humanize %>'s Resume | Powered by Resumonk - Online Resume Builder</title>
  <meta name="author" content="Bharani M" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="Resume, CV, resume builder, online resume generator, creative resume, online CV builder, professional resume, beautiful resume designs, online resume builder, create beautiful resumes online, desiger resumes, simple resume online, PDF resume">
	<meta name="description" content="">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "simplimo_pdf", "show_page" %>
  <%= javascript_include_tag "jquery", "jquery.xcolor.min" %>
  <%= csrf_meta_tags %>

  <style>
    <% unless @resume.font.blank? %>
      body {
        font-family: <%= @resume.font %>;
      }
    <% end %>
    
    <% unless @resume.color.blank? %>
      h1, h2 {
        color: <%= @resume.color %>;
      }

    <% end %>
    
  </style>
  
  <script>
    $(document).ready(function() {
     <% unless @resume.color.blank? %>
       var lighter_color = $.xcolor.opacity("<%= @resume.color %>", 'white', 0.5)
       $("dt").css("color", lighter_color)
       $("p strong").css("color", $.xcolor.opacity("<%= @resume.color %>", 'white', 0.2))
     <% end %>
    });
   </script>

</head>
  <body class="simplimo">
    
    <%= render "show_page_header" %>
    
    
    <div class="show_container">
       <div id="page-wrap">
          <div id="contact-info" class="vcard clearfix">

              <!-- Microformats! -->

              <h1 class="fn"><%= "#{@resume.firstname} #{@resume.lastname}" %></h1>

              <p class="info">
                <% unless @resume.phone.blank? %>
                  Cell: <span class="tel"><%= @resume.phone %></span><br />
                <% end %>
                  Address: <span class="add"><%= @resume.address %></span><br />
                  Email: <a class="email" href='mailto:<%= "#{email(@resume)}" %>'><%= email(@resume) %></a><br />
                <% unless @resume.website.blank? %>
                  Website: <%= link_to @resume.website, @resume.website %></a>
                <% end %>
              </p>

          </div>

          <% unless @resume.objective.blank? %>
            <div id="objective">
              <p>
                 <%= @resume.objective %>
              </p>
            </div>
          <% end %>
          <div class="clear"></div>

          <dl>
            
            <% @resume.layout_order.split(" ").each do |item| %>
                <% if item == "educations" %>
                <% if @resume.educations.any? %>
                  <dd class="clear"></dd>
                  <dt>Education</dt>

                  <% @resume.educations.each do |education| %>
                   <dd class="full">
                        <h2><%= education.institute_name %>
                            <span class="timespan"><%= education.start_date %> to <%= education.end_date %></span>
                        </h2>

                        <p><strong><%= education.degree %>

                          </strong><br />
                        <% unless education.description.blank? %>
                          <div class="description">
                            <p><%= education.description.html_safe %></p>
                          </div>
                        <% end %>
                      </p>
                    </dd>
                  <% end %>
                  <% end %>

                 <% elsif item == "experiences" %>
                 <% if @resume.experiences.any? %>
                    <dd class="clear" style=" page-break-before:auto"></dd>
                          <dd class="clear"></dd>

                          <dt>Experience</dt>

                          <% @resume.experiences.each do |experience| %>
                           <dd class="full">
                                <h2><%= experience.designation %>
                                    <span class="timespan"><%= experience.start_date %> to <%= experience.end_date %></span>
                                </h2>

                                <p><strong><%= experience.company_name %></strong><br />
                                <p class="description"><%= experience.job_description.html_safe %></p>
                            </dd>
                          <% end %>
                      <% end %>
                          
                <% elsif item == "skills" %>
                  <% if @resume.skills.any? %>
                    <dd class="clear" style="margin-bottom: 10px; page-break-before:auto"></dd>

                      <% if @resume.skills.any? %>
                        <dt>Skills</dt>
                        <% @resume.skills.each do |skill| %>
                          <dd class="full">
                            <h2><%= skill.skill %></h2>
                            <p><%= skill.description.html_safe %></p>
                          </dd>
                          <% end %>
                      <% end %>
                  <% end %>
                      
                <% elsif item == "projects" %>
                  <% if @resume.projects.any? %>
                     <dd class="clear" style=" page-break-before:auto"></dd>
                            <dd class="clear"></dd>

                            <dt>Projects</dt>

                            <% @resume.projects.each do |project| %>
                             <dd class="full">
                                  <h2><%= project.project_title %>
                                  <span class="timespan"><%= project.start_date %> to <%= project.end_date %></span>
                                  </h2>

                                  <p><strong><%= link_to project.url %></strong><br />
                                  <p class="description"><%= project.description.html_safe %></p>
                              </dd>
                            <% end %>
                      <% end %>
                            
                    <% elsif item == "publications" %>
                      <% if @resume.publications.any? %>
                       <dd class="clear" style=" page-break-before:auto"></dd>
                              <dd class="clear"></dd>

                              <dt>Publications</dt>

                              <% @resume.publications.each do |publication| %>
                               <dd class="full">
                                    <h2><%= publication.title %>
                                    <span class="timespan"><%= publication.date %></span>
                                    </h2>

                                    <p><strong><%= publication.publisher %></strong><br />
                                    <p class="description"><%= publication.description.html_safe %></p>
                                </dd>
                              <% end %>
                          <% end %>
                              
                              
                    <% elsif item == "volunteerings" %>
                      <% if @resume.volunteerings.any? %>
                       <dd class="clear" style=" page-break-before:auto"></dd>
                              <dd class="clear"></dd>

                              <dt>Volunteering</dt>

                              <% @resume.volunteerings.each do |volunteering| %>
                               <dd class="full">
                                    <h2><%= volunteering.organization %>
                                    <span class="timespan"><%= volunteering.start_date %> to <%= volunteering.end_date %></span>
                                    </h2>
                                    
                                    <% unless volunteering.cause.blank? %>
                                      <p>Cause: <strong><%= volunteering.cause %></strong><br />
                                    <% end %>
                                    
                                    <p class="description"><%= volunteering.description.html_safe %></p>
                                </dd>
                              <% end %>
                            <% end %>
                  <% end %>
                <% end %>
          </dl>

          <div class="clear"></div>
        </div><!--page-wrap-->
    </div>
    
  </body>
</html>